/* Estilo para o cabeçalho principal do conteúdo */
.main_content-header {
    font-family: 'Monument Extended', 'Poppins', sans-serif;
    color: #fff;
    width: 100%;
}

/* Estilo para os títulos h1 dentro do cabeçalho principal */
.main_content-header h1 {
    display: flex;
    margin: 2em 0;
    text-align: center;
    justify-content: center;
}

/* Estilo para as imagens dentro do cabeçalho principal */
.main_content-header img {
    position: absolute;
    display: flex;
    width: 40em;
    left: 20%;
    top: 20%;
    justify-content: center;
    transform: rotate(-30deg);
    animation: increaseShoe 5s infinite;
}

/* Estilo para parágrafos dentro do contêiner central */
.center-content p {
    font-family: 'Poppins';
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 4em;
    left: 35%;
}

/* Estilo para o contêiner de sobreposição */
.overlay {
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Estilo para parágrafos dentro da sobreposição */
.overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    opacity: 0.1;
    margin: 0;
}

/* Estilo para o contêiner principal de cópia */
.main-copy {
    margin: 2em 2em;
    background: rgba(255, 255, 255, 0.082);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: 'Poppins';
    font-weight: 200;
    padding: 1em 1em;
    width: 25em;
}

/* Estilo para imagens dentro do retângulo de sapatos */
.shoes_retangule img {
    width: 8em;
}

/* Estilo para o pseudo-elemento after do retângulo de sapatos */
.shoes_retangule::after {
    content: '';
    position: absolute;
    background: transparent;
    top: 25%;
    left: 49%;
    z-index: -4;
    padding: 1em 1em;
    border-radius: 2em;
    box-shadow: 0 0em 4em rgb(255, 255, 255);
}

/* Estilo para o retângulo de sapatos */
.shoes_retangule {
    border: 1px solid rgba(255, 255, 255, 0.199);
    margin: 12em 2em;
    border-radius: 1.5em;
    width: fit-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* Animação para aumentar o tamanho do sapato */
@keyframes increaseShoe {
    
    50% {
        transform: scale(1.2, 1.2);
    }
    
}
