/* Estilo para o elemento main */
main {
    margin: 1em 5em;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Estilo para o contêiner shoe-box */
.shoe-box {
    position: relative;
    width: fit-content;
    color: white;
}

/* Estilo para a imagem dentro de shoe-box */
.shoe-box img {
    margin: 0 1em;
    width: 14em;
    max-width: 14em;
    min-width: 10em;
}

/* Estilo para o parágrafo dentro de shoe-box */
.shoe-box p {
    font-weight: 100;
    font-size: 13px;
}

/* Estilo para o parágrafo e h3 dentro de shoe-box */
.shoe-box p,
.shoe-box h3 {
    text-align: start;
    padding: 0 1em;
}

/* Efeito de hover na imagem dentro de shoe-box */
.shoe-box:hover img {
    transform: scaleX(-1);
    transition: all 1s ease-in-out;
}

/* Estilo do pseudo-elemento before de shoe-box */
.shoe-box::before {
    content: '';
    position: absolute;
    padding: 3.7em 1em;
    width: 90%;
    top: 25%;
    background: #0d0d0d;
    border-radius: 15px;
    z-index: -1;
}
