@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: monument extended;
    font-style: normal;
    font-weight: 400;
    src: local('Monument Extended'), url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')
}

@font-face {
    font-family: monument extended;
    font-style: normal;
    font-weight: 800;
    src: local('Monument Extended'), url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff) format('woff')
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    background: url(../imagens/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* overflow: hidden; */
    transition: 1s all;
}

.header-container {
    height: 4em;
    background: #fff;

}

.header-container img {
    width: 5em;
    height: auto;
}

.header-container nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container ul {

    display: flex;
    gap: 3em;
    list-style: none;
}

.header-container ul li a {
    align-items: center;

    text-decoration: none;
    color: #060606;

}

.header-container ul li a.active {
    border-bottom: 2px solid black;

}

.nav-icons i {
    margin: 0 1em;
}